.container {
    margin: auto;
    // background-color: $white;
    // color: #000;
    text-align: center;
    padding: 0 1.875rem;

    h1 {
        text-align: center;
    }

    h4 {
       text-align: center;

     }

    form {
        width: 90%;
       // margin-left: 1rem;
        // margin-right: -50px;
        input {
            background-color: $areaColor;
            color: $white;
            opacity: .8;
            padding: 0.5rem 1rem;
             margin-right: -0.3125rem;
             margin-left: 1rem;
            text-align: center;
            border: 2px solid $borderColor;
        }

        
        input:focus {
            outline: 1px solid $borderColor;
        }

       
    }


    .todo-container {
        max-width: 90%;
        height: auto;

           
.todo {
    display: grid;
    grid-template-columns: auto auto;
    padding: 0.625rem;
    margin-top: 1rem;

    
    

    p {
        .task {
            //border: none;
            background-color: $areaColor;
            color: $white;
            opacity: .8;
            border: 1px solid $borderColor;
           // position: relative;
            min-width: 14rem;
            padding: 0.3125rem;
            text-align: center;
            resize: none;
            margin-left: 0.625rem;
            margin-bottom: -0.4rem;
        }

        .task:focus {
            outline: 1px solid $borderColor;
        }

    }

    .icon {
        padding-top: 0.9375rem;
        // position: absolute;
        // right: 0;
        margin-top: 0.75rem;
        margin-left: 1rem;
        color: $color;
        //margin-right: 9.375rem;
        .span {
            display: none;
        }

        .edit {
            padding-right: 0.5rem;
        }
    }

    .update-todo {
        display: none;
    }
}
    }

    button {
          
        color: $color;
        background-color: rgba(0, 0, 0, .5);
        padding: 0.55rem;
        border: 1px solid $borderColor;
    }
 
}