.container {
    margin: auto;
    // background-color: $white;
    // color: #000;
    text-align: center;
    padding-left: 1.875rem;

    h1 {
        margin-left: -6.25rem;
    }

    h4 {
       text-align: center;
       margin-left: -6.25rem;
     }

    form {
        width: 80vw;
       // margin-right: -50px;
        input {
            padding: 0.5rem 1rem;
             margin-right: -0.3125rem;
             margin-left: 1rem;
            text-align: center;
            outline: none;
        }
        button {
          
            color: $white;
            background-color: rgba(0, 0, 0, .5);
            padding: 0.66rem;
            border: none;
        }
    }


    .todo-container {
        max-width: 90%;
        height: auto;

           
.todo {
    display: grid;
    grid-template-columns: auto auto;
    padding: 0.625rem;
    margin-top: 4rem;

    
    

    p {
        .task {
            //border: none;
            outline: none;
           // position: relative;
            min-width: 300px;
            padding: 0.3125rem;
            text-align: center;
            resize: none;
            margin-bottom: -0.4rem;
        }

    }

    .icon {
        padding-top: 0.9375rem;
        // position: absolute;
        // right: 0;
        margin-top: 0.75rem;
        //margin-right: 9.375rem;

        .edit {
            padding-right: 0.5rem;
        }
    }

    .update-todo {
        display: none;
    }
}
    }
 
}