 @media screen and (max-width: 576px) {
    .todo {
        p{
            display: grid;
            grid-template-columns: auto auto;
            //padding-top: 40px;
             //padding-right: 1rem;
             margin-left: 1rem;
            .task {
                min-width:5.625rem;
            }
        }
       
   
      .icon {
           display: grid;
           grid-template-columns: auto auto;
           padding-top: 40px;
           //padding: 0 0.5rem ;
          margin-left: -1rem;
   }
    }

 }